.testimonials{
    padding: 70px 0px;
    background-color: #007fff;
    text-align: center;
    color: white;
}
.testimonial-box{
    background-color: aliceblue;
    padding: 80px 3% 3% 3%;
    max-width: 700px;
    margin: 80px auto 80px auto;
    border-radius: 15px;
    border-top-left-radius:50px ;
    color: black;
    position: relative;
}
.testimonial-box img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(241, 241, 241);
    padding: 7px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }