
<section class="works">

    <div class="container">
          <h2 class="mb-5 text-center">Recent Works</h2>
   
          <ul class="works-ul">
               <li>
                   <div class="img-box-works">
                    <div class="img-box-works-inside">
                        <img class="img-demo" id="img-demo" src="../../assets/Images/work-1.jpg">      
                     </div>
                  </div>
                   <div class="works-content">
                       <span>2021</span>
                       <h3 class="sub-heading-3">Luxury Car Wash</h3>
                       <p>Luxury Car Wash was born out of a love and passion for providing the highest level of vehicle care and protection. Our experts work with state-of-the-art eco-steam washing methods to offer the highest quality and cleanliness. Our cleanliness is sustainable!</p>
                       <a href="" class=" mt-3 primary-button"><label>Explore</label><i class="bi bi-caret-right"></i></a>
                      </div>
               </li>

               <li>
                  <div class="img-box-works">
                      <div class="img-box-works-inside">
                          <img class="img-demo" id="img-demo" src="../../assets/Images/work-2.jpg">      
                          
                       </div>
                 </div>
                  <div class="works-content">
                      <span>2021</span>
                      <h3>CARAT Mobile</h3>
                      <p>Your mobile phone shop in Landau and at the same time your contact for all questions relating to mobile phones, mobile phone contracts, accessories and repairs. At CARAT Mobile you can expect professional service and support. Here with us nobody leaves with unanswered questions!</p>
                      <a href="" class=" mt-3 primary-button"><label>Explore</label><i class="bi bi-caret-right"></i></a>
                     </div>
              </li>

              <li>
                  <div class="img-box-works">
                    <div class="img-box-works-inside">
                        <img class="img-demo" id="img-demo" src="../../assets/Images/work-3.jpg">      
                        
                     </div>
                 </div>
                  <div class="works-content">
                      <span>2021</span>
                      <h3>RJ Hydraulics</h3>
                      <p>The RJ HYDRAULICS Workshop is repairing all the big brands in mobile plant, including Volvo, Caterpillar, Komatsu, Hitachi and many more.  
                        Situated in Ernakulam district of Kerala, we have many years of experience in our field and a Mobile Technician who can visit you onsite if needed. </p>
                      <a href="" class=" mt-3 primary-button"><label>Explore</label><i class="bi bi-caret-right"></i></a>
                     </div>
              </li>

          </ul>
    </div>
    
 </section>