<section class="w-100 banner" id="banner" >
  <!-- <div class="overlay"></div> -->
    <div class="container">
        <div class="banner-details row" data-aos="fade-up" data-aos-delay="0">
            
            <div class="col-md-5 mb-md-5">
               <div class="banner-img">
                <img src="../../assets/Images/profile.jpg" class=" profile-img"  >
            
               </div> 
            </div>
            <div class="col-md-7 banner-info">
                <h1 class="mb-2" data-aos="fade-zoom-in" > <b>Hi,<br>
                    I am Deepak</b><br>
                </h1>
                
                 <!-- <h1>
                    A Creative<br>
    Digital Product Designs<br>
    Company
                 </h1> -->
                <h3 class="mb-2" data-aos="flip-left" >I'm  a<span><b> Full Stack web developer</b></span></h3>
                <h6 data-aos="flip-left" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's .</h6>
                <ul class="social-media-ul social-media-black mt-4" data-aos="flip-left" >
                    <li><a href=""><img src="../../assets/Images/linkedin.png"></a></li>
                    <li><a href=""><img src="../../assets/Images/behance.png"></a></li>
                    <li><a href=""><img src="../../assets/Images/twitter.png"></a></li>
                    <li><a href=""><img src="../../assets/Images/github.png"></a></li>
                </ul>
                <br>
                <button class="primary-button" data-aos="flip-left" >Contact</button>
            </div>

        </div>
    </div>
</section>