<section class="services">
<div class="container">
    <h2 class="text-center mb-4"><b>Services</b></h2>
    <p class="text-center mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <div class="row">

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="150">
            <div class="services-box">
             <img src="../../assets/Images/ui-design.svg" class="mb-3">
             <h4>UI Design</h4>
             <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
            </div>
         </div>

         <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="250">
             <div class="services-box">
              <img src="../../assets/Images/ux-design.svg" class="mb-3">
              <h4>UX Design</h4>
              <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
             </div>
          </div>
 

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="350">
            <div class="services-box" >
             <img src="../../assets/Images/web-dev.svg" class="mb-3">
             <h4>Web Development</h4>
             <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
            </div>
         </div>


         <div class="col-md-6 col-lg-4 offset-lg-2" data-aos="fade-up" data-aos-delay="150">
           <div class="services-box">
            <img src="../../assets/Images/web-dev.svg" class="mb-3">
            <h4>Website Maintenance</h4>
            <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
           </div>
        </div>

            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="250">
               <div class="services-box">
                <img src="../../assets/Images/e-commerce.svg" class="mb-3">
                <h4>E-Commerce Websites</h4>
                <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
               </div>
            </div>

            
    </div>
</div>
</section>