.services{
    padding: 70px 0px;
}
.services-box{
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s all; 
    margin-bottom: 20px;
}
.services-box:hover{
    color: white;
    background-color: #007fff;
}
.services-box:hover img{
    filter: grayscale(0);
    background-color: #fff;
}
.services-box img{
    width: 150px;
    height: 150px;
    border-radius: 40px;
    padding: 20px;
    filter: grayscale(1);
    transition: 0.5s all;
}